<script src="{{ "js/jquery-3.3.1.min.js" | absURL }}"></script>
<script src="{{ "js/zozo.js" | absURL }}"></script>
<script src="{{ "js/highlight.pack.js" | absURL }}"></script>
<link  href="{{ "css/fancybox.min.css" | absURL }}" rel="stylesheet">
<script src="{{ "js/fancybox.min.js" | absURL }}"></script>

<script>hljs.initHighlightingOnLoad()</script>

{{ if .Site.Params.enableMathJax }}
  {{ partial "mathjax.html" . }}
{{ end }}

{{ template "_internal/google_analytics.html" . }}
